@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@section Scripts
{
    <script src="~/js/homework-add.js"></script>
}

<div>Title</div>
<input id="model-title" type="text" placeholder="Title"/>
<div>File</div>
<input  id="model-description" type="text" placeholder="Text"/>
<input id="button-add" type="button" value="Add"/>