@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row alert-warning">
                <div class="col">
                    MOVIE
                </div>
                <div class="col">
                    SESSIONS
                </div>
                <div class="col">
                    CINEMA
                </div>
                <div class="col">
                    HALL
                </div>
                <div class="col">
                    FORMAT
                </div>
                <div class="col">
                    LANGUGAGE
                </div>
                <div class="col">
                    PRICE
                </div>
                <div class="col">
                    BUY
                </div>
            </div>
        </li>
         <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Strays
                </div>
                <div class="col">
                    10:35
                </div>
                <div class="col">
                    Deniz Mall
                </div>
                <div class="col">
                    HALL 3
                </div>
                <div class="col">
                    2d
                </div>
                <div class="col">
                    english
                </div>
                <div class="col">
                    10 azn
                </div>
                <div class="col">
                    BUY
                </div>
            </div>
        </li>
    </ul>
</div>

